
@{
    ViewBag.Title = "ImmutableMode";
}

<h2>ImmutableMode</h2>

@Html.EJS().Grid("Grid").DataSource((IEnumerable<object>)ViewBag.DataSource).EnableImmutableMode(true).AllowPaging(true).Columns(col =>
{
    col.Field("OrderID").HeaderText("Order ID").IsPrimaryKey(true).Width("120").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Right).Add();
    col.Field("EmployeeID").HeaderText("Employee ID").Width("150").Add();
    col.Field("OrderDate").HeaderText("Order Date").Width("130").Format("yMd").Add();
    col.Field("CustomerID").HeaderText("Customer ID").Width("120").Add();
 
}).Render()